*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;

    background-color: #f4f4f4;

    text-align: center;
}

html{
    font-size: 62.5%;
}

.font-size-heading{
    font-size: 2.5rem;
}
.font-size-sub{
    font-size: 1.8rem;
}
.font-size-p{
    font-size: 1.6rem;
}
.font-size-sub-p{
    font-size: 1.4rem;
}
.font-reg{
    font-weight: 400;
}
.font-bold{
    font-weight: 700;
}

.sub-section-padding{
    padding: 3rem 2rem;
}
.section-padding{
    padding: 4rem 2rem;
}

/* .margin-small{
    margin: 2rem;
}
.margin-medium{
    margin: 4rem;
}
.margin-large{
    margin: 8rem;
} */

.flex-row-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-row-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    outline: none;
    border: none;
    border-radius: 3px;

    text-transform: uppercase;
    letter-spacing: 1px;

    padding: 1rem 1.5rem;

    cursor: pointer;
}
.button-blue{
    background-color: #3c415c;
    color: #f4f4f4;
}
.button-dark-blue{
    background-color: #301b3f;
    color: #f4f4f4;
}

/* .card{
    padding: 1rem;
    height: 100%;
} */
.card img{
    border-radius: 5px;
}

.fab,
.fas{
    font-size: 3rem;
}

/*
    header
*/
#header{
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.1);
}

.brand a{
    text-decoration: none;
    color: #000;
}

nav{
    display: none;
}
/*
    hero
*/
#hero{
    height: 60vh;
    display: flex;
    flex-direction: column;
}
.hero-p{
    margin-top: 0.5rem;
}
.hero-button{
    margin-top: 1.5rem;
}

/*
    portfolio
*/
/* #portfolio{
    text-align: center;
} */
/* .portfolio-card{
    border: 1px solid black; */

.portfolio-card{
    margin-top: 6rem;
}

.portfolio-card img{
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.project-name{
    margin: 1rem 0 0.25rem 0;
}

.project-desc{
    text-align: left;
}

.buttons{
    margin: 2rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

/*
    about
*/
.about-text{
    margin-top: 6rem;
    text-align: left;

    line-height: 2.25rem;
}

/*
    contact
*/
.links{
    margin-top: 6rem;
}

.email-svg{
    height: 60px;
    width: 60px;
}

/*
    footer
*/

#footer{
    box-shadow: 0px -3px 18px 0px rgba(0,0,0,0.1);
}

.scroll-to-top{
    display: none; /*Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}